@import '../App.css';

.footer {
    background-color: var(--footer-background);
    color: white;
    text-align: center;
    border-top-right-radius: 100px;
    padding: 4.6em 6%;
}
.logo {
    margin-bottom: 2em;;
}

.links:not(:last-child) {
    margin-bottom: 2em;
}

.linksList {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.link {
    text-decoration: none;
    color: var(--footer-text);
    position: relative;
}


.link::before 
    {
        content: '';
        background-color: white;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        transition: transform 300ms;
        transform-origin: 0%;
        transform: scaleX(0);
    }

    .link:hover::before
    {
        transform: scale(1);
    }

@media (min-width: 786px) {

    .footer {
        display: flex;
        align-items: start;
        gap: 12.5%;
        text-align: left;
    }
    .logo {
        margin-bottom: 0;
    }

    .links {
        margin: 0;
    }
    
}