:root {
  --CTA-text: hsl(356, 100%, 66%);
--CTA-hover-background: hsl(355, 100%, 74%);
--headings: hsl(208, 49%, 24%);


--text: hsl(0, 0%, 100%);
--footer-text: hsl(240, 2%, 79%);
--bodycopy: hsl(207, 13%, 34%);
--footer-background: hsl(240, 10%, 16%);

--gradient-1-a: hsl(13, 100%, 72%);
--gradient-1-b: hsl(353, 100%, 62%);

--gradient-2-a: hsl(237, 17%, 21%);
--gradient-2-b: hsl(237, 23%, 32%);

--font-1: "Overpass", sans-serif;
--font-2: "Ubuntu", sans-serif;
}


#root 
{
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: var(--font-1);
}

p {
  line-height: 1.6;
}
img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}



.btn {
  padding: .75em 1.5em;
  font-family: inherit;
  font-size: inherit;
  border-radius: 24px;
}

.btn-white 
{
  border: none;
  background-color: white;
  color: var(--CTA-text);
}